@charset "UTF-8";
body {
  font-family: 'Roboto';
  color: white; }

.w100 {
  max-width: 100%; }

a {
  text-decoration: none;
  color: white; }

.brd {
  border: 3px solid #68ff00; }

.button {
  background-color: #FF7A00;
  color: white;
  display: inline-block; }
  .button:hover {
    cursor: pointer;
    outline: 0;
    border: 0; }

.content-width {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.top-menu__container {
  position: absolute;
  padding-top: 20px;
  color: white;
  z-index: 100;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.top-menu li {
  display: inline;
  margin-right: 20px; }

.top-menu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.top-menu__lang {
  padding-left: 20px; }

.slider-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 70%;
  color: white;
  position: absolute;
  z-index: 10; }
  .slider-text__container {
    width: 70%;
    text-align: left; }
  .slider-text__title {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 20px; }
  .slider-text__content {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 40px; }
  .slider-text__button {
    padding: 20px 50px; }

.slider {
  width: 100%; }
  .slider__handler {
    position: absolute;
    z-index: 100;
    width: 70%;
    bottom: 40px; }

.slider__item {
  text-align: center;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-height: 600px; }

.slider__item img {
  min-width: 100%;
  opacity: 0.2;
  -o-object-fit: cover;
  object-fit: cover; }

section.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 80px; }

.content-width.content-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 32%;
  margin-bottom: 60px; }
  .project__img {
    background-color: #252525; }
  .project__img img {
    width: 100%; }
  .project__hover {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    overflow: hidden; }
  .project__hover:hover {
    cursor: pointer; }
    .project__hover:hover .project__img img {
      opacity: 0.1;
      -webkit-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease; }
    .project__hover:hover .project__title {
      color: #252525; }
    .project__hover:hover .project__on-hover {
      display: block;
      -webkit-transition: 1s ease;
      -o-transition: 1s ease;
      transition: 1s ease; }
    .project__hover:hover .project__btn a {
      background: none;
      color: black;
      font-weight: bold;
      -webkit-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease; }
  .project__title {
    background-color: #252525;
    padding: 20px 0 10px 0;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px; }
  .project__on-hover {
    position: absolute;
    width: 100%;
    max-height: 250px;
    display: none;
    overflow: hidden; }
  .project__hover-content {
    position: relative; }
  .project__hover-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px; }
  .project__hover-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-left: 20px;
    margin-bottom: 10px; }
  .project__hover-text {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    text-align: justify;
    overflow: hidden; }
  .project__triangle {
    height: 50px;
    width: 100%;
    background-color: #252525;
    -webkit-clip-path: polygon(0% 0%, 50% 50%, 100% 0);
    clip-path: polygon(0% 0%, 50% 50%, 100% 0);
    background-size: contain;
    position: relative; }
  .project__price {
    text-align: center;
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 0 0 30px 0; }
  .project__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .project__hover-btn {
    background: #FF7A00;
    display: inline-block;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    padding: 20px 30px;
    width: 70%; }

.preferences {
  color: #252525; }

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden; }

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

/* Слайд */
.slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  display: none; }

/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.slick-dots li {
  list-style: none; }

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: #FF7A00;
  border-radius: 50%;
  margin-right: 10px; }

/* Активная точка */
.slick-dots li.slick-active button {
  background-color: white; }

.slider__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.dots-container {
  position: absolute;
  bottom: 0;
  right: 0; }
